*,*::before,*::after{font-family:inherit;box-sizing:border-box;letter-spacing:0;-webkit-font-smoothing:antialiased;overflow-anchor:none;}html{font-size:16px;}body{margin:0;padding:0;}main{display:block;}label{font-weight:normal;}button,a{outline:none;color:inherit;-webkit-text-decoration:none;text-decoration:none;cursor:pointer;}button[disabled],a[disabled]{pointer-events:none!important;}p,span,strong,small{color:inherit;}ul,ol,dl{list-style:none;margin:0;padding:0;}li{outline:none;}p,dt,dd{margin:0;padding:0;}input,input:focus,input::before,input::after{border:0;outline:0;touch-action:manipulation;}input:not([type='checkbox']):not([type='radio']),button,textarea,select{-webkit-appearance:none;-moz-appearance:none;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;appearance:none;}textarea,textarea:focus{outline:0;}h1,h2,h3,h4,h5{margin:0;}

*, *::before, *::after {
    font-family: inherit;
    box-sizing: border-box;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    overflow-anchor: none;
}

*, *::after, *::before {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: inherit;
}

a {
    all: unset;
    cursor: pointer;
}

input, input:focus, input::before, input::after {
    border: 0;
    outline: 0;
    touch-action: manipulation;
}

.css-1axgspo .swiper-container-android .swiper-slide, .css-1axgspo .swiper-wrapper {
    transform: translate3d(0px, 0px, 0px);
}

main {
	display: block;
}

.css-2kceou {
    -webkit-flex: 1;
    flex: 1;
    width: 100%;
    max-width: 1060px;
    margin: 0 auto 120px;
}

.css-qhzs5v {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #141719;
}

.css-tinny8 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    padding: 0 40px;
}

.css-8iskzq {
    position: relative;
    margin-top: 16px;
    margin-bottom: 8px;
    width: 100%;
}

.css-8iskzq >div {
    max-width: 100%;
}

.css-1lmikz8 {
    display: flex;
    width: 100%;
    max-width: 1060px;
    height: 72px;
    border: 1px solid #f5f6f7;
    border-radius: 99px;
    background-color: #f5f6f7;
    user-select: none;
}

.css-1ildg2g {
    display: flex;
    width: calc((100% - 123px - 5px* 2) / 3);
    cursor: pointer;
    position: relative;
}

.css-17ujo4z {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 32px;
    border-radius: 99px;
    width: 100%;
}

.css-f3d94f {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.css-2x3a1r {
    font-size: 13px;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.02em;
    white-space: pre-wrap;
}

.css-f3d94f >*:not(:last-of-type) {
    margin-bottom: 2px;
}

.css-1ft6oz5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.02em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    white-space: pre-wrap;
    width: calc(100% - 10px);
    color: #141719;
}

.css-c6rtju {
    cursor: pointer;
    border: 0;
    padding: 0;
    appearance: none;
    background-color: transparent;
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.css-xtikso {
    position: absolute;
    top: calc(100% + 16px);
    left: -1px;
    width: 440px;
    max-height: 560px;
    border-radius: 34px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px, rgba(0, 0, 0, 0.2) 0px 8px 24px;
    z-index: 20000;
    overflow-y: auto;
    scrollbar-width: none;
}

.css-w4v28n {
    width: 100%;
    height: 560px;
    overflow-y: auto;
    scrollbar-width: none;
}

.css-1b192ew {
    position: sticky;
    top: 0px;
    padding-top: 12px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.css-14x8q74 {
    position: sticky;
    top: 72px;
    height: 24px;
    z-index: 1;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.css-1liu35s {
    width: 90%;
    margin: 10px 0 0 20px;
    padding-bottom: 80px;
}

.css-jfnk7e {
    width: 100%;
    padding: 6px 20px;
}

.search-history-item {
    display: flex; /* Flexbox 컨테이너로 설정 */
    align-items: center; /* 자식 요소들을 수직으로 중앙 정렬 */
}

.search-history-item-delete {
    margin-left: auto; /* 요소를 오른쪽 끝으로 이동 */
}

.css-16ley3t {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    width: 100%;
    height: 48px;
    background-color: rgb(241, 243, 245);
    border-radius: 24px;
    border: none;
    overflow: hidden;
    opacity: 1;
}

.css-1kdtagv {
    position: absolute;
    left: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.css-l9clvw:placeholder-shown {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.css-l9clvw {
    width: 100%;
    height: 100%;
    padding: 13.5px 44px;
    text-align: left;
    caret-color: rgb(81, 171, 243);
    font-size: 15px;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.02em;
    color: rgb(20, 23, 25);
    background-color: transparent;
}

.css-1gltdgo {
    position: absolute;
    left: 0px;
    width: 0px;
    height: 0px;
    opacity: 0;
}

.css-dvzysq {
    position: absolute;
    right: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: none;
    padding: 0px;
    opacity: 0.5;
    cursor: pointer;
}

.interval {
	position: relative;
    width: 5px;
    height: 100%;
}

.css-c6rtju {
    cursor: pointer;
    border: 0;
    padding: 0;
    appearance: none;
    background-color: transparent;
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.css-106abu8 {
    position: relative;
    width: 100%;
    height: 560px;
    overflow-y: auto;
    scrollbar-width: none;
}

.css-1gatni9 {
    height: 100%;
    padding-bottom: 72px;
}

.css-1tb9vmd {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    padding-left: 15px;
    padding-right: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px -0.5px 0px, rgba(0, 0, 0, 0.03) 0px -1px 2px, rgba(0, 0, 0, 0.03) 0px -2px 4px;
}

.css-1a2jpja {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-inline: 32px;
    border-radius: 99px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.css-10xto4m {
    position: absolute;
    top: calc(100% + 16px);
    right: 0px;
    width: 440px;
    max-height: 560px;
    border-radius: 34px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px, rgba(0, 0, 0, 0.2) 0px 8px 24px;
    z-index: 20000;
    overflow-y: auto;
    scrollbar-width: none;
}

.css-1cqzd04 {
    padding: 8px 20px;
}

.css-1gsby4v {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 9px 0px;
}

.css-dnoo08 {
    font-size: 15px;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.02em;
    white-space: pre-wrap;
}

.css-168726t {
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 104px;
    height: 48px;
    border: 1px solid rgb(233, 236, 239);
    border-radius: 60px;
    padding: 0px 10px;
}

.css-1ggc46y {
    border: 0px;
    padding: 0px;
    appearance: none;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.css-168726t > :not(:last-of-type) {
    margin-right: 2px;
}

.css-gbwm4o {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    width: 100%;
    height: 100%;
}

.css-1szxsih {
    font-size: 16px;
    font-weight: 500;
    line-height: 138%;
    letter-spacing: -0.01em;
    white-space: pre-wrap;
    color: rgb(20, 23, 25);
}

.css-2jgs3g {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 100%;
}

.css-ry0chm {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    background-color: #141719;
    color: #FFFFFF;
    height: 56px;
    padding: 0px 20px;
    width: auto;
    border-radius: 99px;
}

.css-oss1kg {
    padding: 0px 4px;
}

.css-spn791 {
    font-size: 18px;
    font-weight: 600;
    line-height: 124%;
    letter-spacing: -0.02em;
    white-space: pre-wrap;
}

.css-79elbk {
    position: relative;
}

.css-1futtae {
    position: relative;
    width: 100%;
    height: 420px;
}

.css-l5ala0 {
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-auto-columns: minmax(52%, 100%) minmax(23.4%, 1fr) minmax(23.4%, 1fr);
    grid-auto-flow: column;
    gap: 2px 2px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
}

.css-l5ala0>img:first-of-type {
    grid-row: 1 / -1;
}

.css-j3xuou {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: #f5f6f7;
    cursor: pointer;
}

.css-14fxxv1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #495056;
    border: 1px solid transparent;
    height: 40px;
    padding: 0px 12px;
    width: auto;
    border-radius: 99px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #FFFFFF;
    color: #141719;
    height: 40px;
    padding: 9px 12px;
}

.css-dnoo08 {
    font-size: 15px;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.02em;
    white-space: pre-wrap;
}

.css-yd8sa2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 30px;
}

.css-1s91mnt {
    display: flex;
    gap: 40px;
    padding: 0 8px;
}

.css-c9l051 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    width: inherit;
    max-width: inherit;
    min-height: 165px;
    padding: 6px 0;
}

.css-i3pbo {
    margin-bottom: 24px;
}

.css-1mi5cco {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.css-k008qs {
    display: flex;
}

.css-sfumlt {
    font-size: 26px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -0.01em;
    white-space: pre-wrap;
    color: #141719;
    white-space: pre-line;
    word-break: break-all;
}

.css-1r4homq {
    font-size: 13px;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.02em;
    white-space: pre-wrap;
    color: #848c94;
}

.css-ayucfr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    width: 100%;
}

.css-6g4hta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 29px;
    row-gap: 2px;
}

.css-1n2mv2k {
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-bgkldf {
    font-size: 14px;
    font-weight: 500;
    line-height: 124%;
    letter-spacing: -0.02em;
    white-space: pre-wrap;
}

.css-12wooir {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.02em;
    text-decoration: line-through;
    color: #848c94;
    margin-left: 3px;
}

.css-1n2mv2k {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mr-half-1 {
    margin-right: 4px !important;
}

.css-1kjy5hl {
    font-size: 22px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -0.01em;
    white-space: pre-wrap;
}

.css-1i27l4i {
    display: flex;
    gap: 8px;
}

.css-p2iygf {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    background-color: #f1f3f5;
    color: #141719;
    height: 56px;
    padding: 0px;
    width: 56px;
    border-radius: 99px;
    padding: 14px;
    width: 56px;
    height: 56px;
}

.css-ov1ktg {
    display: flex;
}

.css-2bqhlj {
    position: relative;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 56px;
    height: 56px;
}

.css-p2iygf {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    background-color: #f1f3f5;
    color: #141719;
    height: 56px;
    padding: 0px;
    width: 56px;
    border-radius: 99px;
    padding: 14px;
    width: 56px;
    height: 56px;
}

textarea, textarea:focus {
    outline: 0;
}

.css-1dhg90f {
    position: fixed;
    top: -3000px;
    width: 0;
    height: 0;
    opacity: 0;
}

.css-1c7t3vv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    background-color: #141719;
    color: #FFFFFF;
    height: 48px;
    padding: 0px 16px;
    width: auto;
    border-radius: 99px;
    font-size: 18px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -0.01em;
    padding: 14px 40px;
    height: 56px;
}

.css-1bjjy4l {
    font-size: 16px;
    font-weight: 600;
    line-height: 124%;
    letter-spacing: -0.02em;
/*     white-space: pre-wrap; */
}

.css-19kftx2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -0.01em;
    white-space: pre-wrap;
}

.css-1jom7ne {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 100%;
    border: none;
    border-radius: 12px;
    overflow: hidden;
}

.css-8atqhb {
    width: 100%;
}

.css-jltv26 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 100%;
    margin-top: 100px;
}

.css-17t65wn {
    width: 100%;
    max-width: 1140px;
}

.css-yks7hj {
    background-color: white;
    border-radius: 34px;
    overflow: hidden;
    border-radius: 12px;
    width: 100%;
    max-width: 1140px;
    padding: 28px 20px;
}

.css-4mbokm {
    width: 100%;
}

.css-z66aix {
    width: 100%;
    margin-bottom: 16px;
}

.css-1k1esfp {
    font-size: 20px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -0.01em;
    white-space: pre-wrap;
}

.css-1f0ub1b {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.css-103ejlk {
    display: flex;
    align-items: center;
    min-height: 21px;
}

.css-1f0ub1b >*:not(:last-of-type) {
    margin-bottom: 10px;
}

.css-1vsgj6t {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.css-qqc2n5 {
    font-size: 15px;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.02em;
    white-space: pre-wrap;
    color: #212529;
}

.css-1u9p9ef {
    width: 20px;
    height: 20px;
    margin-left: 4px;
}

.css-qugwz3 {
    color: #343a40;
}

.css-1o5ne0g {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    padding: 0 40px;
}

.css-134hp10 {
    width: 100%;
    padding: 0 8px;
}

.css-1o5ne0g>*:not(:last-of-type) {
    margin-bottom: 80px;
}

.css-1o5ne0g>*:first-of-type {
    margin-bottom: 57px;
}

.css-1j63yba {
    display: flex;
    flex-direction: column;
}

.css-1mnf8qz {
    height: 26px;
}

.css-1j63yba >*:not(:last-of-type) {
    margin-bottom: 16px;
}

.css-1k1esfp {
    font-size: 20px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -0.01em;
    white-space: pre-wrap;
}

.css-an8a4a {
    display: flex;
    flex-direction: column;
}

.css-an8a4a >*:not(:last-of-type) {
    margin-bottom: 16px;
}

.css-1iigiwp {
    position: relative;
    width: 100%;
    height: 141px;
    border-radius: 24px;
    overflow: hidden;
    cursor: pointer;
}

.css-1drnufd {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    margin: auto;
    object-fit: cover;
}

.css-17ctwle {
    color: transparent;
    position: absolute;
    inset: -40px 0px 0px;
    margin: auto;
}

.css-k008qs {
    display: flex;
}

.css-b2uum8 {
    font-size: 15px;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.02em;
    white-space: pre-wrap;
    flex: 1;
    color: #212529;
    margin-right: 16px;
}

.css-at6m64 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    background-color: #f1f3f5;
    color: #141719;
    height: 48px;
    padding: 0px 16px;
    width: auto;
    border-radius: 99px;
    font-size: 15px;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.02em;
    height: 40px;
    padding: 9.5px 12px;
}

.css-mvwyst {
    display: flex;
    flex-direction: column;
}

.css-13kthdy {
    display: flex;
    align-items: center;
    height: 38px;
}

.css-k008qs {
    display: flex;
}

.css-13kthdy >*:not(:last-of-type) {
    margin-right: 12px;
}

.css-si2b82 {
    display: flex;
    width: 20px;
    height: 20px;
}

.css-dnoo08 {
    font-size: 15px;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.02em;
    white-space: pre-wrap;
}

.css-1n9s2yp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: row;
    gap: 80px 40px;
    width: 100%;
}

.css-1iv0hau {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 0 8px;
}

.css-1n9s2yp>div:first-of-type {
    grid-column: 1 / -1;
}

.css-7pf6at {
    display: flex;
    align-items: center;
    width: 100%;
}

.css-1h9zsg {
    font-size: 20px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -0.01em;
    white-space: pre-wrap;
    flex: 1;
}

.css-ha97c2 {
    position: relative;
    max-height: 320px;
    overflow: hidden;
}

.css-i43npt {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    padding: 0px;
}

.css-1n4qrt {
    font-size: 18px;
    font-weight: 600;
    line-height: 124%;
    letter-spacing: -0.02em;
    white-space: pre-wrap;
    color: #141719;
}

.css-suo9h5 {
    font-size: 15px;
    font-weight: 500;
    line-height: 138%;
    letter-spacing: -0.01em;
    white-space: pre-wrap;
    color: #495056;
}

.css-1iv0hau {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 0 8px;
}

.css-1h9zsg {
    font-size: 20px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -0.01em;
    white-space: pre-wrap;
    flex: 1;
}

.css-msd5x3 {
    position: relative;
    max-height: 240px;
    overflow: hidden;
}

.css-i43npt {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    padding: 0px;
}

.css-2zdhhu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(241, 243, 245);
    color: rgb(20, 23, 25);
    width: auto;
    border-radius: 99px;
    font-size: 15px;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.02em;
    height: 40px;
    padding: 9px 16px;
}

.css-17mib1z {
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: #f1f3f5;
    width: 100%;
    padding: 80px 40px;
}

.css-1n3cjvb {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1060px;
}

.css-o73ezp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding-left: 8px;
}

.css-1n3cjvb >*:not(:last-of-type) {
    margin-bottom: 40px;
}

.css-cjn8he {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px;
    cursor: pointer;
}

.css-1usqcss {
    position: absolute;
    top: -32px;
    width: 100%;
}

.css-1scuu9k {
    padding: 0 32px;
}

.css-jfzxc5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.02em;
    white-space: pre-wrap;
}

.css-i19t4t {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    background-color: #141719;
    color: #FFFFFF;
    height: 40px;
    padding: 0px 12px;
    width: auto;
    border-radius: 99px;
}

.css-g354lr {
    font-size: 14px;
    font-weight: 600;
    line-height: 124%;
    letter-spacing: -0.02em;
}

.css-51dg7o {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.css-10c7qg5 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 34px 24px 34px 40px;
}

.css-51dg7o >*:not(:last-of-type) {
    margin-bottom: 12px;
}

.css-1vp6ypr {
    display: flex;
    gap: 20px;
    margin-top: 32px;
}

.css-1kjy5hl {
    font-size: 22px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -0.01em;
    white-space: pre-wrap;
}

.css-1vp6ypr {
    display: flex;
    gap: 20px;
    margin-top: 32px;
}

.css-hhs1ap {
    display: flex;
    width: 210px;
}

.css-e6t236 {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.css-f3dihc {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
}

.css-1glyzy2 {
    position: relative;
    display: flex;
    width: 210px;
    height: 158px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.css-1572upo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.css-bqfzl4 {
    font-size: 13px;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.02em;
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 23, 25, 0.7);
    color: #FFFFFF;
    height: 24px;
    padding: 3px 8px;
    border-radius: 16px;
    line-height: 0;
}

.css-1jqfg0 {
    display: flex;
    flex-direction: column;
}

.css-mgekkz {
    display: flex;
    flex-direction: column;
}

.css-1jqfg0 >*:not(:last-of-type) {
    margin-bottom: 10px;
}

.css-1dacjl9 {
    display: inline-flex;
    flex-direction: column;
}

.css-1sdqwnv {
    display: flex;
    color: #141719;
    min-height: 17px;
}

.css-1dacjl9 >*:not(:last-of-type) {
    margin-bottom: 5px;
}

.css-v71nea {
    display: flex;
    padding-top: 1px;
}

.css-1sdqwnv >*:not(:last-of-type) {
    margin-right: 4px;
}

.css-70qvj9 {
    display: flex;
    align-items: center;
}

.css-bgkldf {
    font-size: 14px;
    font-weight: 500;
    line-height: 124%;
    letter-spacing: -0.02em;
    white-space: pre-wrap;
}

.css-19kbtvr {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: underline;
    background-color: transparent;
    color: #141719;
    gap: 1px;
    border-radius: 8px;
    height: 30px;
    padding: 0px 8px;
    height: 19px;
    border-radius: 0;
    padding: 1px 0;
}

.css-17cznx6 {
    font-size: 13px;
    font-weight: 500;
    line-height: 138%;
    letter-spacing: -0.02em;
    white-space: pre-wrap;
}

.css-e6t236 {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.css-1txr52u {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 12px 16px;
}

.css-1ni1io2 {
    display: flex;
    flex-direction: column;
}

.css-1txr52u >*:not(:last-of-type) {
    margin-right: 20px;
}

.css-j7qwjs {
    display: flex;
    flex-direction: column;
}

.css-i7tjzy {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.css-159hdns {
    display: flex;
    color: #141719;
    min-height: 17px;
}

.css-i7tjzy >*:not(:last-of-type) {
    margin-bottom: 4px;
}

.css-1g90fsm {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    min-width: 220px;
}

.css-1jqfg0 {
    display: flex;
    flex-direction: column;
}

.css-1g90fsm >*:not(:last-of-type) {
    margin-bottom: 16px;
}

.css-16fffon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.css-fjt9ki {
    display: flex;
    align-items: center;
}

.css-16fffon >*:not(:last-of-type) {
    margin-bottom: 4px;
}

.css-pglvi5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 124%;
    letter-spacing: -0.02em;
    color: #fa5b4a;
}

.css-fjt9ki >*:not(:last-of-type) {
    margin-right: 3px;
}

.css-1e8aui5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 124%;
    letter-spacing: -0.02em;
    color: #848c94;
    text-decoration: line-through;
}

.css-114g9yd {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.css-16fffon >*:not(:last-of-type) {
    margin-bottom: 4px;
}

.css-12dy4dz {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.css-1bg0z7j {
    font-size: 18px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -0.01em;
    color: #fa5b4a;
}

.css-w9c0d8 {
    display: flex;
    align-items: center;
}

.css-1njnize {
    font-size: 14px;
    font-weight: 500;
    line-height: 124%;
    letter-spacing: -0.02em;
    color: #848c94;
}

.css-xekm6i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: underline;
    background-color: transparent;
    color: #141719;
    gap: 1px;
    border-radius: 8px;
    height: 30px;
    padding: 0px 8px;
    height: 19px;
    margin-top: 8px;
    padding: 1px 0;
    border-radius: 0;
}

.css-17cznx6 {
    font-size: 13px;
    font-weight: 500;
    line-height: 138%;
    letter-spacing: -0.02em;
    white-space: pre-wrap;
}

.css-me3ito {
    display: inline-flex;
    justify-content: flex-end;
}

.css-1g90fsm >*:not(:last-of-type) {
    margin-bottom: 16px;
}

.css-m0pn6q {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    overflow: hidden;
    outline: none;
    user-select: none;
    cursor: pointer;
    background-color: #2b96ed;
    color: #FFFFFF;
    height: 48px;
    padding: 0 16px;
    border-radius: 8px;
    width: 100%;
}

.css-pszfx5 {
    padding: 0 4px;
}

.css-m0pn6q span {
    font-size: 15px;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.02em;
}

.css-8z217v {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.css-k14pv3 {
    display: flex;
    color: #141719;
    min-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
}

.css-k14pv3 * {
    font-size: 13px;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.02em;
}

.css-k14pv3 >*:not(:last-of-type) {
    margin-right: 4px;
}

.css-17nco2d {
    position: fixed;
    inset: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 50000;
}

.css-ku40o1 {
    display: block;
    min-height: 40px;
    margin: 24px 16px 26px;
}

.css-nfpvp8 {
    width: calc(100% - 80px);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}

.css-1a5bpe6 {
    background-color: transparent;
}

.css-1axgspo {
    position: relative;
    height: 80%;
}

.css-1fuarqg {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.css-1m9bh34 {
    flex: 1 1 0%;
    width: 100%;
    height: 100%;
    transform: none;
}

.css-1axgspo .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0px;
    z-index: 1;
    --swiper-navigation-size: 70px;
    --swiper-theme-color: #007aff;
}

.css-1axgspo .swiper-container-pointer-events {
    touch-action: pan-y;
}

.css-en91p7 {
    overflow: unset;
}

.css-1axgspo .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.css-1axgspo .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.css-1m9bh34 .swiper-slide, .css-1m9bh34 .swiper-slide-duplicate {
    position: relative;
    height: 100%;
}

.css-1m9bh34 .swiper-slide-prev, .css-1m9bh34 .swiper-slide-next {
    visibility: hidden;
}

.css-1m9bh34 .swiper-slide-active {
    background-position: center center;
}

.css-1m9bh34 .swiper-slide img, .css-1m9bh34 .swiper-slide-duplicate img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: calc(-230px + 100vh);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px 0px;
}

.css-48091o {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: rgb(255, 255, 255) !important;
    padding: 16px 0px;
    position: static !important;
}

.css-1axgspo .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: opacity 0.3s ease 0s;
    transform: translate3d(0px, 0px, 0px);
    z-index: 10;
}

.css-1axgspo .swiper-container-horizontal > .swiper-pagination-bullets, .css-1axgspo .swiper-pagination-custom, .css-1axgspo .swiper-pagination-fraction {
    bottom: 10px;
    left: 0px;
    width: 100%;
}

.css-1axgspo .swiper-button-next, .css-1axgspo .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44* 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.css-1axgspo .swiper-button-next, .css-1axgspo .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
}

.css-1m9bh34 .swiper-button-next, .css-1m9bh34 .swiper-container-rtl .swiper-button-prev {
    background-image: none;
}

.css-s08p0c {
    width: 100%;
    height: 100%;
}

.navbar-nav {
    flex-direction: row !important;
}

.swiper-button-prev:after, .swiper-button-next:after, .swiper-rtl .swiper-button-next:after {
    content: '' !important;
}

.css-1wbr1y1 {
    width: 100%;
    height: 65px;
    box-sizing: border-box;
}

.swiper-container.gallery-top .swiper-slide img {
    width: 600px;  /* Set the desired width */
    height: 300px;  /* Set the desired height */
    object-fit: cover;  /* Maintain aspect ratio and cover the entire area */
}

/* Custom Styling for Swiper Thumbnail Images */
.swiper-container.gallery-thumbs .swiper-slide img {
    width: 160px;  /* Set the desired width */
    height: 120px;  /* Set the desired height */
    object-fit: cover;  /* Maintain aspect ratio and cover the entire area */
}

.css-1n36r0e {
    width: 100%;
    max-width: 1140px;
    padding: 0 40px;
}

.css-9vd5ud {
    width: 100%;
}

.css-8atqhb {
    width: 100%;
}

.css-y8aj3r {
    padding: 0;
}

.css-1nyh2zz {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 24px 20px 20px 20px;
}

@media (min-width: 768px) {
    .css-1jgjkq5 {
        padding: 0 8px;
    }
}

.css-1nyh2zz >*:not(:last-of-type) {
    margin-bottom: 17px;
}

.css-1k1esfp {
    font-size: 20px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -0.01em;
    white-space: pre-wrap;
}

.css-1uk1gs8 {
    margin: 0;
}

.css-1ig3hb9 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 32px 56px;
    background-color: rgb(248, 249, 250);
}

.css-xi606m {
    text-align: center;
}

.css-yyghs0 {
    padding-bottom: 6px;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.55px;
    color: rgb(52, 58, 64);
}

.css-ua4zwz {
    display: flex;
    align-items: flex-start;
}

.css-ua4zwz > :not(:last-of-type) {
    margin-right: 0px;
}

.css-1ypszv9 {
    width: 16px;
    height: 16px;
}

.css-1d86pdh {
    width: 1px;
    height: 80px;
    background-color: rgb(222, 226, 230);
}

.css-7pf6at {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.css-1ay9vb9 {
    margin-right: 16px;
}

.css-16la138 {
    display: flex;
    align-items: flex-end;
}

@media (min-width: 768px) {
    .css-1nyh2zz {
        padding: 0;
    }
}

.css-16la138 > :not(:last-of-type) {
    margin-right: 0px;
}
.css-180vcst {
    width: 8px;
    height: 8px;
}

.css-1ckuzyr {
    position: relative;
    display: inline-flex;
    width: 82px;
    height: 4px;
    border-radius: 4px;
    background-color: rgb(222, 226, 230);
}

.css-1re6qlw {
    width: 293px;
}

.css-1w3k4j7 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    border-radius: 4px;
    background-color: rgb(132, 140, 148);
}

.css-1r79v93 {
    margin-left: 10px;
    font-size: 11px;
    line-height: 16px;
    white-space: nowrap;
    color: rgb(102, 109, 117);
}

.css-ks0b9v {
    margin-top: 16px;
    padding: 24px 16px;
    border: 1px solid rgb(241, 243, 245);
    border-radius: 12px;
}

.css-1wmbu1r {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.6px;
}

.css-udz7ce {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.css-k008qs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.css-udz7ce > :not(:last-of-type) {
    margin-bottom: 12px;
}

.css-1t9pz9x {
    width: 20px;
    height: 20px;
}

.css-8atqhb {
    width: 100%;
}

.css-v3n1cv {
    flex: 1 1 0%;
    margin-left: 8px;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: -0.4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.css-rqty1l {
    width: 29px;
    height: 22px;
    margin-left: 12px;
}

.css-udz7ce > :not(:last-of-type) {
    margin-bottom: 12px;
}

.css-11yrzj9 {
    display: flex;
    padding-top: 20px;
}

ol, ul, li {
    list-style: none;
}

.css-982b5g {
    display: flex;
    flex-direction: row;
}

.css-11yrzj9 > ul {
    flex: initial;
}

.css-p4bbom {
    position: relative;
    margin-right: 10px;
}

.css-982b5g > li {
    flex: initial;
}

.css-tnyp0k {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    height: 40px;
    padding: 0px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.14px;
    background-color: rgb(255, 255, 255);
    color: rgb(52, 58, 64);
    border: 1px solid rgb(222, 226, 230);
    border-radius: 4px;
    cursor: pointer;
}

.css-159ijcc {
    margin-right: 6px;
    fill: rgb(52, 58, 64);
}

.css-p4bbom {
    position: relative;
    margin-right: 10px;
}

.css-982b5g > li {
    flex: initial;
}

.css-982b5g > li:last-child {
    margin-right: 0px;
}

.css-1k5ntto {
    position: absolute;
    top: 48px;
    left: 0px;
    border-radius: 4px;
    box-shadow: rgba(33, 37, 41, 0.15) 0px 8px 16px 0px, rgb(233, 236, 239) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 1px 4px 0px;
    background-color: rgb(255, 255, 255);
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transform-origin: left top;
    transition: transform 0.12s ease 0s, opacity 0.12s ease 0s;
    z-index: 30000;
    width: 260px;
}

.css-ujouc {
    position: absolute;
    top: 48px;
    left: 0px;
    border-radius: 4px;
    box-shadow: rgba(33, 37, 41, 0.15) 0px 8px 16px 0px, rgb(233, 236, 239) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 1px 4px 0px;
    background-color: rgb(255, 255, 255);
    transform-origin: left top;
    transition: transform 0.12s ease 0s, opacity 0.12s ease 0s;
    z-index: 30000;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);
    width: 260px;
}

.css-19tqikr {
    display: flex;
    padding: 9px 16px;
    cursor: pointer;
}

.css-19bfog6 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    user-select: none;
    cursor: pointer;
}

.css-19tqikr label {
    font-size: 16px !important;
    font-weight: 500;
}

.css-1ert3cq {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 2px;
}

.css-75qw4d {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.css-12a4kog {
    position: absolute;
    inset: 0px;
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.css-3wrzi8 {
    position: absolute;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(20, 23, 25);
    overflow: hidden;
    transition: visibility 50ms cubic-bezier(0, 0.87, 0.4, 1.1) 0s;
    visibility: hidden;
}

.css-12a4kog:checked ~ * {
    visibility: visible !important;
}

.css-1dxdjkp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
}

.css-12a4kog:checked ~ * {
    visibility: visible !important;
}

.css-6mvyws {
    flex: 1 1 0%;
    margin-left: 12px;
    font-size: 16px;
    opacity: 1;
}

.css-19tqikr {
    display: flex;
    padding: 9px 16px;
    cursor: pointer;
}

.css-19bfog6 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    user-select: none;
    cursor: pointer;
}

.css-19tqikr label {
    font-size: 16px !important;
    font-weight: 500;
}

.css-1ert3cq {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 2px;
}

.css-t298uz {
    display: flex;
    align-items: flex-start;
}

.css-1hntmln {
    width: 22px;
    height: 22px;
}

.css-t298uz > :not(:last-of-type) {
    margin-right: 8px;
}

.css-e13tn {
    display: flex;
    flex-direction: row;
}

.css-11yrzj9 > ul {
    flex: initial;
}

.css-11yrzj9 > ul:last-child {
    margin-left: auto;
}

li {
    outline: none;
}

.css-e13tn > li {
    flex: initial;
}

.css-13i95we {
    display: flex;
    flex-direction: row;
    padding: 8px 0px;
    margin-right: 10px;
    border: unset;
    background-color: rgb(255, 255, 255);
}

.css-1lyhns4 {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 4px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: rgb(102, 109, 117);
}

.css-13i95we > span {
    flex: initial;
}

.css-13i95we > span:first-of-type {
    margin: auto;
}

.css-12kom43 {
    margin-left: 4px;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: rgb(102, 109, 117);
}

.css-13i95we > span {
    flex: initial;
}

.css-14lno0n {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 4px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: rgb(52, 58, 64);
}

.css-13i95we > span {
    flex: initial;
}

.css-13ovph5 {
    display: flex;
    padding: 24px 0px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
}

.css-x0ee88 > div {
    border-bottom: 1px solid rgb(233, 236, 239);
}

.css-q1ewhp {
    width: calc(100% - 141px);
}

.css-1meotse {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 10px;
}

.css-ua4zwz {
    display: flex;
    align-items: flex-start;
}

.css-ua4zwz > :not(:last-of-type) {
    margin-right: 0px;
}

.css-flfwei {
    width: 14px;
    height: 14px;
}

.css-akej1n {
    padding-left: 6px;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: rgb(52, 58, 64);
}

.css-vjkoi3 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 8px;
}

.css-f7fpqi {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.4px;
    color: rgb(132, 140, 148);
}

.css-1fw1ca5 {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.4px;
    color: rgb(132, 140, 148);
}

.css-1qhcaz0 {
    display: block;
    width: 100%;
    height: auto;
    color: rgb(52, 58, 64);
    overflow: hidden;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.3px;
    padding-bottom: 0px;
    white-space: pre-wrap;
}

.css-1dz9tqv {
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    position: relative;
    overflow: hidden;
    width: 125px;
    height: 125px;
    border-radius: 4px;
    background-color: rgb(241, 243, 245);
    cursor: pointer;
}

.css-y5m0bt {
    display: inline-flex;
    overflow: hidden;
    position: relative;
    inset: 0px;
    width: inherit;
    height: inherit;
    min-width: inherit;
    min-height: inherit;
    object-fit: cover;
}

.css-hozfwu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}

.css-htjz8p {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    padding: 4px 7px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.4px;
    color: rgb(132, 140, 148);
    background-color: rgb(245, 246, 247);
}

.css-hozfwu > :not(:last-of-type) {
    margin-right: 8px;
}
.css-kknodv {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 10px;
}

.css-aymlz4 {
    list-style: none;
    padding: 0px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-6dqveo {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 0px;
    border-radius: 50%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(81, 171, 243);
    transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s, background 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.css-5lup2s {
    font-size: 14px;
    font-weight: 500;
    width: 14px;
    height: 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.css-4t7rh3 {
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 50%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s, background 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    background-color: rgb(81, 171, 243);
    color: rgb(255, 255, 255);
}

.css-5lup2s {
    font-size: 14px;
    font-weight: 500;
    width: 14px;
    height: 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}