<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.escape.board.mapper.CommentMapper">

<select id="getCommentList">
SELECT BOARD_COMMENT_IDX
	   ,BOARD_IDX
       ,CONTENT
       ,CREATED
FROM   BOARD_COMMENT_TB
WHERE  BOARD_IDX = #{ board_idx }
</select>

<insert id="insertComment">
INSERT INTO BOARD_COMMENT_TB(
        BOARD_COMMENT_IDX
       ,BOARD_IDX
       ,CONTENT
       ,CREATED
)
VALUES(
(SELECT (NVL(MAX(BOARD_COMMENT_IDX), 0)+1) FROM BOARD_COMMENT_TB ),
#{board_idx},
#{content},
sysdate
)
</insert>

<delete id="deleteComment">
DELETE FROM BOARD_COMMENT_TB
WHERE BOARD_COMMENT_IDX = #{board_comment_idx}
  AND BOARD_IDX = #{board_idx}
</delete>

<!-- 좋아요 -->
<select id="selectLikes">
SELECT
	BOARD_COMMENT_LIKE_IDX
    ,BOARD_COMMENT_IDX
    ,USER_IDX
    ,COMMENT_LIKES
FROM
	BOARD_COMMENT_LIKE_TB
WHERE
    BOARD_COMMENT_IDX = #{board_comment_idx}
</select>

<update id="updateLikes">
		UPDATE BOARD_COMMENT_LIKE_TB
		SET
		    COMMENT_LIKES = 1
		WHERE
		   BOARD_COMMENT_IDX = #{board_comment_idx}
</update>

<insert id="addLikes">
INSERT INTO BOARD_COMMENT_LIKE_TB (
     BOARD_COMMENT_LIKE_IDX
    ,BOARD_COMMENT_IDX
    ,USER_IDX
    ,COMMENT_LIKES) 
VALUES (
	  #{board_comment_like_idx}
	 ,#{board_comment_idx}
	 ,#{user_idx}
	 ,1
</insert>

</mapper>