<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.escape.board.mapper.CommentMapper">

<!--  
<select id="getCommentList">
SELECT BOARD_COMMENT_IDX
	   ,BOARD_IDX
       ,CONTENT
       ,CREATED
FROM   BOARD_COMMENT_TB
WHERE  BOARD_IDX = #{ board_idx }
</select>
-->
<select id="getCommentList">
SELECT 
    BC.BOARD_COMMENT_IDX
    ,BC.BOARD_IDX
    ,BC.CONTENT
    ,BC.CREATED
    ,BCL.BOARD_COMMENT_LIKE_IDX
    ,BCL.USER_IDX
    ,BCL.COMMENT_LIKES
FROM BOARD_COMMENT_TB BC
LEFT JOIN BOARD_COMMENT_LIKE_TB BCL ON BCL.BOARD_COMMENT_IDX = BC.BOARD_COMMENT_IDX
WHERE  BC.BOARD_IDX = #{ board_idx }

</select>

<insert id="insertComment" >
INSERT INTO BOARD_COMMENT_TB(
        BOARD_COMMENT_IDX
       ,BOARD_IDX
       ,CONTENT
       ,CREATED
)
VALUES(
(SELECT (NVL(MAX(BOARD_COMMENT_IDX), 0)+1) FROM BOARD_COMMENT_TB ),
#{board_idx},
#{content},
sysdate
)
</insert>

<delete id="deleteComment">
DELETE FROM BOARD_COMMENT_TB
WHERE BOARD_COMMENT_IDX = #{board_comment_idx}
  AND BOARD_IDX = #{board_idx}
</delete>

<!-- 좋아요 -->
<!--
<select id="selectLikes">
SELECT
	BOARD_COMMENT_LIKE_IDX
    ,BOARD_COMMENT_IDX
    ,USER_IDX
    ,COMMENT_LIKES
FROM
	BOARD_COMMENT_LIKE_TB
WHERE
    BOARD_COMMENT_LIKE_IDX = #{board_comment_like_idx}
</select>
  -->
<select id="selectLikes">
SELECT 
    BC.BOARD_COMMENT_IDX
    ,BC.BOARD_IDX
    ,BC.CONTENT
    ,BC.CREATED
    ,BCL.BOARD_COMMENT_LIKE_IDX
    ,BCL.USER_IDX
    ,BCL.COMMENT_LIKES
FROM BOARD_COMMENT_TB BC
LEFT JOIN BOARD_COMMENT_LIKE_TB BCL ON BCL.BOARD_COMMENT_IDX = BC.BOARD_COMMENT_IDX
WHERE  BCL.BOARD_COMMENT_LIKE_IDX = #{ board_comment_like_idx }
</select>


<update id="updateLikes">
		UPDATE BOARD_COMMENT_LIKE_TB
		SET
		    COMMENT_LIKES = 1
		WHERE
		   BOARD_COMMENT_LIKE_IDX = #{board_comment_like_idx}
</update>

<insert id="addLikes"  >
INSERT INTO BOARD_COMMENT_LIKE_TB (
     BOARD_COMMENT_LIKE_IDX
    ,BOARD_COMMENT_IDX
    ,USER_IDX
    ,COMMENT_LIKES) 
VALUES (
      (SELECT (NVL(MAX(board_comment_like_idx), 0)+1) FROM BOARD_COMMENT_LIKE_TB )
	 ,#{board_comment_idx}
	 ,5
	 ,1
</insert>

<update id="deleteLikes">
UPDATE BOARD_COMMENT_LIKE_TB
SET
	   COMMENT_LIKES = 0
WHERE
	   BOARD_COMMENT_LIKE_IDX = #{board_comment_like_idx}

</update>

</mapper>