<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.escape.airplane.mapper.FlightMapper">

	<resultMap id="flightResultMap" type="com.escape.airplane.model.Flight">
	    <id column="airplane_time_idx" property="airplaneTimeIdx"/>
	    <result column="airplane_idx" property="airplaneIdx"/>
	    <result column="start_date" property="startDate"/>
	    <result column="end_date" property="endDate"/>
	    <result column="start_time" property="startTime"/>
	    <result column="end_time" property="endTime"/>
	    <result column="departure_loc" property="departureLoc"/>
	    <result column="arrival_loc" property="arrivalLoc"/>
	    <result column="known" property="known"/>
	</resultMap>
    
    <select id="findFlightsByDepartureTimes" resultMap="flightResultMap" parameterType="list">
	    SELECT 
	        AIRPLANE_TIME_IDX,
	        AIRPLANE_IDX,
	        START_DATE,
	        END_DATE,
	        START_TIME,
	        END_TIME,
	        DEPARTURE_LOC,
	        ARRIVAL_LOC,
	        KNOWN
	    FROM AIRPLANE_TIME_TB
	    WHERE 1=1
	    <if test="departureTimes != null and !departureTimes.isEmpty()">
	        AND TO_CHAR(START_TIME, 'HH24:MI:SS') IN
	        <foreach item="time" collection="departureTimes" open="(" separator="," close=")">
	            #{time}
	        </foreach>
	    </if>
	</select>
    

</mapper>
