<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.escape.airplane.mapper.FlightMapper">

    <!-- <select id="findFlightsByDepartureTimes" parameterType="list">
	    SELECT * FROM AIRPLANE_TIME_TB
	    WHERE 1=1
	    <if test="departureTimes != null and !departureTimes.isEmpty()">
	        AND TO_CHAR(start_time, 'HH24:MI:SS') IN
	        <foreach item="time" collection="departureTimes" open="(" separator="," close=")">
	            #{time}
	        </foreach>
	    </if>
	</select> -->
    
    <select id="findFlightsByDepartureTimes" parameterType="list">
        SELECT START_TIME FROM AIRPLANE_TIME_TB
        WHERE 1=1
        <if test="departureTimes != null and !departureTimes.isEmpty()">
            AND TO_CHAR(START_TIME, 'HH24:MI:SS') IN
            <foreach item="time" collection="departureTimes" open="(" separator="," close=")">
                #{time}
            </foreach>
        </if>
    </select>
    
    <!-- <select id="findFlightsByDepartureTimes" parameterType="list">
        SELECT * FROM AIRPLANE_TIME_TB
        WHERE 1=1
        <if test="departureTimes != null and !departureTimes.isEmpty()">
            AND TO_CHAR(start_time, 'HH24') IN
            <foreach item="time" collection="departureTimes" open="(" separator="," close=")">
                #{time}
            </foreach>
        </if>
    </select> -->

</mapper>
