<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.escape.login.mapper.UserMapper">

 <insert id="insertUser" parameterType="com.escape.login.domain.User">
		INSERT INTO USER_TB (
		USER_IDX,
		ID,
		PASSWD,
		EMAIL,
		TYPE		
		)
		VALUES(
		(select nvl(max(user_idx),0)+1 from user_tb),
		#{id},
		#{passwd},
		#{email},
		#{type}
		)
	</insert>
    
	<select id="login">
		SELECT *
		FROM
		USER_TB
		WHERE
		ID = #{ param1 }
		AND
		PASSWD = #{ param2 }
	</select>
	
	<select id="checkIdExists" resultType="int" parameterType="string">
        SELECT COUNT(*)
        FROM USER_TB
        WHERE id = #{id}
    </select>
	
	<select id="checkPasswordMatch" resultType="boolean" parameterType="string">
    SELECT CASE
        WHEN (SELECT COUNT(*) FROM USER_TB WHERE PASSWD = #{password}) > 0 AND #{password} = #{confirmPassword} THEN 1
        ELSE 0
    END
</select>

<select id="findUserId">
select
    user_idx
from user_tb
where user_idx=#{user_idx}


</select>


<select id="findUserType">
select
    type
from user_tb
where user_idx=#{user_idx}

</select>

<select id="getPoint">

select
    pp.point
from person_tb p
join user_tb u on p.user_idx = u.user_idx
join point_tb pp on p.person_idx = pp.point_idx
where u.user_idx=#{arg0}
</select>

<select id="getUserInfo">
select
 p.first_name,
 p.last_name,
 u.email,
 p.phone
from user_tb u
join person_tb p on u.user_idx = p.user_idx
where u.user_idx =#{arg0}

</select>

	
</mapper>
